/* colors
    yellow/orange #FFA237
    red #EB3D00
    blue/grey #204260
    dark blue #181D3A */


* { box-sizing : border-box; }

body {
    text-align: center;
    font-family: 'Concert One', cursive;
    background: #FFA237;
}

h1 {
    font-size: 40px;
}

h2 {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 30px;
}

.start-game {
    font-size: 40px;
    background-color: #EB3D00;
    border: none;
    border-radius: 12px;
    font-family: 'Concert One', cursive;
    margin-top: 26px;
}

.welcome-page {
    display: block;
}

.welcome-screen {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-page {
    display: none;
}

.game-board {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next-round {
    opacity: 0;
    font-size: 40px;
    background-color: #EB3D00;
    border: none;
    border-radius: 12px;
    font-family: 'Concert One', cursive;
    margin-top: 26px;
}

.final-screen {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

input {
    width: 300px;
}

span {
    font-size: 60px;
    opacity: 0;
}

.letter {
    animation: fade 3s linear;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}



